* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('30.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 320px;
    height: 380px;
}

#container {
    display: none;
    background-color: #eae7dc;
    width: 320px;
    height: 380px;
    /* display: grid; */
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas: "date date date" "dummy1 globalStats dummy2" "countryStats countryStats countryStats";
}

#err {
    display: grid;
    justify-content: center;
    color: #bba871;
    padding-top: 95%;
}

#dummy1 {
    grid-area: dummy1;
}

#dummy2 {
    grid-area: dummy2;
}

#date {
    grid-area: date;
}

#globalStats {
    grid-area: globalStats;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "totalCases totalCases" "totalDeaths totalRecovered";
}

#countryStats {
    grid-area: countryStats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas: "div1" "countryName" "stats" "prenext" "update";
}

#prenext {
    display: flex;
    justify-content: center;
}

.style {
    color: #8e8d8a;
    cursor: pointer;
}

#div1 {
    grid-area: div1;
}

#update {
    grid-area: update;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #a08123;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dividerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dividerContainer hr {
    flex-grow: 0.75;
    border: 0.4px dotted #a08123;
}

#countryName {
    grid-area: countryName;
    font-family: 'Raleway', sans-serif;
    color: #8e8d8a;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

#stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-rows: 100%;
    grid-template-areas: ". countryDeaths countryCases countryRecovered .";
}

#countryDeaths {
    grid-area: countryDeaths;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "countryDeathCount" "nameCountryDeath";
}

#countryDeathCount {
    grid-area: countryDeathCount;
}

#nameCountryDeath {
    grid-area: nameCountryDeath;
}

#countryCases {
    grid-area: countryCases;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "countryCaseCount" "nameCountryCase";
}

#countryCaseCount {
    grid-area: countryCaseCount;
}

#nameCountryCase {
    grid-area: nameCountryCase;
}

#countryRecovered {
    grid-area: countryRecovered;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "countryRecCount" "nameCountryRec";
}

#countryRecCount {
    grid-area: countryRecCount;
}

#nameCountryRec {
    grid-area: nameCountryRec;
}

#totalCases {
    grid-area: totalCases;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "numCases" "nameCase";
}

#numCases {
    grid-area: numCases;
    font-size: 32px;
}

#nameCase {
    grid-area: nameCase;
    font-size: 12px;
}

#totalDeaths {
    grid-area: totalDeaths;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "numDeaths" "nameDeath";
}

#numDeaths {
    grid-area: numDeaths;
    font-size: 18px;
}

#nameDeath {
    grid-area: nameDeath;
    font-size: 12px;
}

#totalRecovered {
    grid-area: totalRecovered;
    /* background-color: burlywood; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "numRecovered" "nameRecovered";
}

#numRecovered {
    grid-area: numRecovered;
    font-size: 18px;
}

#nameRecovered {
    grid-area: nameRecovered;
    font-size: 12px;
}

.statValue {
    color: #e98074;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* center text */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.statName {
    color: #bba871;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* center text */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-transform: uppercase;
}

.countryStatVal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e98074;
    font-size: 18px;
}

.countryStatName {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 8px;
    text-transform: uppercase;
    color: #bba871;
}